<div>
  <section id="project" class="project-area pt-125 pb-130">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center pb-50">
                    <h5 class="sub-title mb-15">Featured Works</h5>
                    <h2 class="title">Projects You May Love</h2>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
    </div>
    <div class="container-fluid">
        <div class="row project-active">
            <div class="col-lg-4">
                <div class="single-project">
                    <div class="project-image">
                        <img src="../../../assets/images/g1.jpg" alt="Project">
                    </div>
                    <div class="project-content">
                        <a class="project-title" href="#">Home Interior Design</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-project">
                    <div class="project-image">
                        <img src="../../../assets/images/g2.jpg" alt="Project">
                    </div>
                    <div class="project-content">
                        <a class="project-title" href="#">Home Interior Design</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-project">
                    <div class="project-image" id="g1">
                        <img src="../../../assets/images/g3.jpg" alt="Project">
                    </div>
                    <div class="project-content">
                        <a class="project-title" href="#">Home Interior Design</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-project">
                    <div class="project-image">
                        <img src="../../../assets/images/blog1.jpg" alt="Project">
                    </div>
                    <div class="project-content">
                        <a class="project-title" href="#">Home Interior Design</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-project">
                    <div class="project-image">
                        <img src="../../../assets/images/blog2.jpg" alt="Project">
                    </div>
                    <div class="project-content">
                        <a class="project-title" href="#">Home Interior Design</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-project">
                    <div class="project-image" id="g1">
                        <img src="../../../assets/images/blog3.jpg" alt="Project" >
                    </div>
                    <div class="project-content">
                        <a class="project-title" href="#">Home Interior Design</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


</div>
