/*PROJECTS*/

@media (max-width: 767px) {
  .project-area {
    padding-top: 75px;
    padding-bottom: 80px; } }

.single-project {
  position: relative; }
  .single-project .project-image {
    position: relative; }
    .single-project .project-image::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background: white;
      background: -webkit-linear-gradient(rgba(255, 255, 255, 0) 50%, #eb3656 100%);
      background: -o-linear-gradient(rgba(255, 255, 255, 0) 50%, #eb3656 100%);
      background: linear-gradient(rgba(255, 255, 255, 0) 50%, #eb3656 100%);
      opacity: 0;
      -webkit-transition: all 0.4s ease-out 0s;
      -moz-transition: all 0.4s ease-out 0s;
      -ms-transition: all 0.4s ease-out 0s;
      -o-transition: all 0.4s ease-out 0s;
      transition: all 0.4s ease-out 0s; }
  .single-project .project-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 35px 5px;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
    opacity: 0; }
    .single-project .project-content .project-title {
      font-size: 22px;
      font-weight: 600;
      font-family: 'Barlow', sans-serif;
      position: relative;
      color: #fff;
      margin-left: 60px; }
      .single-project .project-content .project-title::before {
        position: absolute;
        content: '';
        width: 50px;
        height: 1px;
        background-color: #fff;
        top: 50%;
        left: -60px; }
  .single-project:hover .project-image::before {
    opacity: 1; }
  .single-project:hover .project-content {
    opacity: 1;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%); }

.project-active .slick-dots {
  text-align: center;
  margin-top: 50px; }
  .project-active .slick-dots li {
    display: inline-block;
    margin: 0 7px; }
    .project-active .slick-dots li button {
      width: 25px;
      height: 15px;
      border-radius: 50px;
      border: 0;
      background-color: rgba(235, 54, 86, 0.7);
      -webkit-transition: all 0.4s ease-out 0s;
      -moz-transition: all 0.4s ease-out 0s;
      -ms-transition: all 0.4s ease-out 0s;
      -o-transition: all 0.4s ease-out 0s;
      transition: all 0.4s ease-out 0s;
      font-size: 0;
      cursor: pointer; }
    .project-active .slick-dots li.slick-active button {
      width: 35px;
      background-color: #EB3656; }

.container-fluid
{

  margin-left: -6em;
}

.project-image
{
  margin-right: -5em;
}

.single-project
{
  margin: 1em;
}
