<!-- banner -->
<div class="banner-w3ls-2">

</div>
<!-- //banner -->
<!-- page details -->
<div class="breadcrumb-agile">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="index.html">Home</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">About Us</li>
  </ol>
</div>
<!-- //page details -->

<!-- about section -->
<div class="inner-sec-w3ls py-5">
  <div class="container py-xl-5 py-lg-3">
    <div class="row">
      <div class="col-lg-6 about-img">
        <img class="img-fluid" src="../../../assets/images/main.jpg" alt="">
      </div>
      <div class="col-lg-6 about-right mt-xl-5 mt-lg-3 mt-sm-5 mt-4 pt-lg-2">
        <h2 class="sub-tittle text-uppercase font-weight-bold">About Us</h2>
        <h1 class="tittle mt-2">We Do Great Design For Creative Folks.</h1>
        <p class="mt-4">Lorem ipsum dolor sit amet Neque porro quisquam est qui dolorem Lorem int ipsum dolor sit amet
          when an unknown printer took a galley of type.Vivamus id tempor felis. Cras sagittis mi sit amet malesuada
          mollis. Mauris porroinit consectetur cursus tortor vel interdum.</p>
        <a href="/blog" routerLink='blog' class="btn button-style mt-sm-5 mt-4">Read More</a>
      </div>
    </div>
  </div>
</div>
<!-- //about section -->

<!-- brands -->
<div class="bottom-w3pvt pb-5">
  <div class="container py-xl-5 py-lg-3">
    <h3 class="title-w3 mb-sm-5 mb-4 text-dark text-center font-weight-bold">Our Brands</h3>
    <ul class="list-unstyled brands text-center pt-5">
      <li><i class="fa fa-gg" aria-hidden="true"></i></li>
      <li><i class="fa fa-houzz active" aria-hidden="true"></i></li>
      <li><i class="fa fa-yoast" aria-hidden="true"></i></li>
      <li><i class="fa fa-skyatlas" aria-hidden="true"></i></li>
      <li><i class="fa fa-pied-piper active" aria-hidden="true"></i></li>
    </ul>
  </div>
</div>
<!-- //brands -->

<!-- about bottom -->
<div class="blog-w3ls py-5 bg-light border-bottom" id="what">
  <div class="container py-xl-5 py-lg-3">
    <h3 class="title-w3 mb-sm-5 mb-4 text-dark text-center font-weight-bold">What we do</h3>
    <p class="title-para text-center mx-auto mb-sm-5 mb-4">Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat, dolor sit amet consectetur elit.</p>
    <div class="row package-grids">
      <div class="col-md-4 blog-w3">
        <div class="blogs-top">
          <img src="../../../assets/images/w1.jpg" alt="" class="img-fluid" />
        </div>
        <div class="blogs-bottom p-4 bg-white">
          <h4 class="text-dark font-weight-bold mb-3">Architecture</h4>
          <a href="about.html">
            <i class="fa fa-line-chart mr-2"></i>Learn More</a>
        </div>
      </div>
      <div class="col-md-4 blog-w3 my-md-0 my-5">
        <div class="blogs-top">
          <img src="../../../assets/images/w2.jpg" alt="" class="img-fluid" />
        </div>
        <div class="blogs-bottom p-4 bg-white">
          <h4 class="text-dark font-weight-bold mb-3">Interior Design</h4>
          <a href="about.html">
            <i class="fa fa-paint-brush mr-2"></i>Learn More</a>
        </div>
      </div>
      <div class="col-md-4 blog-w3">
        <div class="blogs-top">
          <img src="../../../assets/images/w3.jpg" alt="" class="img-fluid" />
        </div>
        <div class="blogs-bottom p-4 bg-white">
          <h4 class="text-dark font-weight-bold mb-3">Engineering</h4>
          <a href="about.html">
            <i class="fa fa-gavel mr-2"></i>Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //about bottom -->

<!-- services -->
<section class="banner-bottom-w3layouts py-5" id="services">
  <div class="container py-xl-5 py-lg-3">
    <h3 class="title-w3 mb-sm-5 mb-4 text-dark text-center font-weight-bold">Our Services</h3>
    <p class="title-para text-center mx-auto mb-sm-5 mb-4">Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat, dolor sit amet consectetur elit.</p>
    <div class="row pt-sm-4">
      <div class="col-lg-4 about-in text-center">
        <div class="card">
          <div class="card-body">
            <i class="fa fa-gavel mb-4" aria-hidden="true"></i>
            <h5 class="card-title mb-3">Heading Here</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur elit,Adipisicing elit tempor.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 about-in text-center my-lg-0 my-4">
        <div class="card active">
          <div class="card-body">
            <i class="fa fa-paint-brush mb-4" aria-hidden="true"></i>
            <h5 class="card-title mb-3">Heading Here</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur elit,Adipisicing elit tempor.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 about-in text-center">
        <div class="card">
          <div class="card-body">
            <i class="fa fa-magic mb-4" aria-hidden="true"></i>
            <h5 class="card-title mb-3">Heading Here</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur elit,Adipisicing elit tempor.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-lg-4">
      <div class="col-lg-4 about-in mt-lg-4 text-center">
        <div class="card">
          <div class="card-body">
            <i class="fa fa-wrench mb-4" aria-hidden="true"></i>
            <h5 class="card-title mb-3">Heading Here</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur elit,Adipisicing elit tempor.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 about-in mt-lg-4 text-center">
        <div class="card">
          <div class="card-body">
            <i class="fa fa-cogs mb-4" aria-hidden="true"></i>
            <h5 class="card-title mb-3">Heading Here</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur elit,Adipisicing elit tempor.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 about-in mt-lg-4 text-center">
        <div class="card">
          <div class="card-body">
            <i class="fa fa-line-chart mb-4" aria-hidden="true"></i>
            <h5 class="card-title mb-3">Heading Here</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur elit,Adipisicing elit tempor.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //services -->

<!-- team -->
<div class="team bg-light py-5">
  <div class="container py-xl-5 py-lg-3">
    <h3 class="title-w3 mb-sm-5 mb-4 text-dark text-center font-weight-bold">Our Team Members</h3>
    <p class="title-para text-center mx-auto mb-sm-5 mb-4">Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat, dolor sit amet consectetur elit.</p>
    <div class="row mt-30">
      <div class="col-lg-4">
        <div class="box16">
          <img src="../../../assets/images/team1.jpg" alt="" class="img-fluid">
          <div class="box-content">
            <h3 class="title">Petey Cruiser</h3>
            <span class="post">Designer</span>
            <ul class="social">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 my-lg-0 my-5">
        <div class="box16">
          <img src="../../../assets/images/team2.jpg" alt="" class="img-fluid">
          <div class="box-content">
            <h3 class="title">Sal Monella</h3>
            <span class="post">Designer</span>
            <ul class="social">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="box16">
          <img src="../../../assets/images/team3.jpg" alt="" class="img-fluid">
          <div class="box-content">
            <h3 class="title">Matt Innae</h3>
            <span class="post">Designer</span>
            <ul class="social">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //team -->

<!-- ways -->
<div class="join-w3l1 py-5">
  <div class="container py-xl-5 py-lg-3">
    <h3 class="title-w3 title-w3-3 mb-sm-5 mb-4 text-dark text-center font-weight-bold">We Do Great Design For Creative
      Folks.</h3>
    <div class="row join-agile2 text-center pt-md-5 pt-4">
      <div class="col-md-3 steps-reach-w3l">
        <span class="fa fa-check-square-o" aria-hidden="true"></span>
        <p class="mt-3">Dream Design</p>
        <div class="style-agile-border">
          <img src="../../../assets/images/sty1.png" alt="" />
        </div>
      </div>
      <div class="col-md-3 steps-reach-w3l my-md-0 my-4">
        <span class="fa fa-volume-control-phone" aria-hidden="true"></span>
        <p class="mt-3">Contact Us</p>
        <div class="style-agile-border second-border">
          <img src="../../../assets/images/sty2.png" alt="" />
        </div>
      </div>
      <div class="col-md-3 steps-reach-w3l">
        <span class="fa fa-calendar" aria-hidden="true"></span>
        <p class="mt-3">Choose the Date</p>
        <div class="style-agile-border">
          <img src="../../../assets/images/sty1.png" alt="" />
        </div>
      </div>
      <div class="col-md-3 steps-reach-w3l mt-md-0 mt-4">
        <span class="fa fa-smile-o" aria-hidden="true"></span>
        <p class="mt-3">Design Ready</p>
      </div>
    </div>
  </div>
</div>
<!-- //ways -->

<!-- testimonials -->
<div class="testimonials text-center py-5" id="testi">
  <div class="container py-xl-5 py-lg-3">
    <h3 class="title-w3 mb-5 text-white text-center font-weight-bold">Testimonials</h3>
    <div id="carouselExampleIndicators" class="carousel slide pb-5" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="w3_testimonials_grid">
            <img src="../../../assets/images/te1.jpg" alt=" " class="img-fluid rounded-circle" />
            <h5 class="mt-3 text-white">Thomas Carl - Sed do eiusmod</h5>
            <h4 class="mx-auto mt-4 text-light">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit
              quo minus
              id quod possimus,
              omnis voluptas.
            </h4>
          </div>
        </div>
        <div class="carousel-item">
          <div class="w3_testimonials_grid">
            <img src="../../../assets/images/te2.jpg" alt=" " class="img-fluid rounded-circle" />
            <h5 class="mt-3 text-white">Petey Cruiser - Sed do eiusmod</h5>
            <h4 class="mx-auto mt-4 text-light">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit
              quo minus
              id quod possimus,
              omnis voluptas.
            </h4>
          </div>
        </div>
        <div class="carousel-item">
          <div class="w3_testimonials_grid">
            <img src="../../../assets/images/te3.jpg" alt=" " class="img-fluid rounded-circle" />
            <h5 class="mt-3 text-white">Speed Wagon - Sed do eiusmod</h5>
            <h4 class="mx-auto mt-4 text-light">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit
              quo minus
              id quod possimus,
              omnis voluptas.
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //testimonials -->

<!-- footer -->
<footer>
  <div class="w3ls-footer-grids py-4">
    <div class="container py-xl-5 py-lg-3">
      <div class="row">
        <div class="col-lg-3 w3l-footer-logo text-center">
          <!-- logo -->
          <a class="navbar-brand font-weight-bold" href="index.html">
            <i class="fa fa-ils mr-2" aria-hidden="true"></i>ImAgInE
          </a>
          <!-- //logo -->
        </div>
        <!-- social icons -->
        <div class="col-lg-4 w3social-icons text-lg-right text-center mt-lg-0 mt-3">
          <ul>
            <li>
              <a href="#" class="rounded-circle">
                <i class="fa fa-facebook-f"></i>
              </a>
            </li>
            <li class="px-2">
              <a href="#" class="rounded-circle">
                <i class="fa fa-google-plus"></i>
              </a>
            </li>
            <li>
              <a href="#" class="rounded-circle">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- //social icons -->
      </div>
    </div>
  </div>
</footer>
