<!-- navigation -->
<div class="main-top py-1" id="mynav">
  <nav class="navbar navbar-expand-lg navbar-light fixed-navi">
    <div class="container-fluid">
      <!-- logo -->
      <a class="navbar-brand font-weight-bold" href="index.html">
        <i class="fa fa-ils mr-1" aria-hidden="true"></i>ImAgInE
      </a>
      <!-- //logo -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
       aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
        <ul class="navbar-nav ml-lg-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item mx-xl-5 mx-lg-3 my-lg-0 my-3">
            <a class="nav-link" href="#" routerLink='about'>About Us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
              More
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item scroll" href="#what" routerLink='request'>Request Form</a>
              <a class="dropdown-item" href="#" routerLink='single'>Some More</a>
            </div>
          </li>
          <li class="nav-item mx-xl-5 mx-lg-3 mt-lg-0 mt-3">
            <a class="nav-link" href="#" routerLink='gallery'>Gallery</a>
          </li>
          <li class="nav-item mt-lg-0 mt-3">
            <a class="nav-link" href="#" routerLink='admin'>Admin</a>
          </li>
          <li class="search my-lg-0 my-4">
            <a class="play-icon popup-with-zoom-anim" href="#small-dialog">
              <i class="fa fa-search" aria-hidden="true"></i>
            </a>
            <div id="small-dialog" class="mfp-hide">
              <div class="search-top">
                <div class="search-inn">
                  <p class="text-white font-weight-bold mt-4">Inside</p>
                </div>
              </div>
            </div>
          </li>
          <li class="ml-lg-4 mb-lg-0 mb-4">
            <a href="#" routerLink='contact' class="reqe-button">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<!-- //navigation -->
